<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}" data-geopattern-id="{{ page.background-color }}">
    <div class="container"> 
        <h1>{{ page.title }}</h1>
        <span class="meta-info" style="display: none;">
            {% if page.subtitle %}
                {{ page.subtitle }}
            {% endif %}
        </span>
    </div>
</section>
<script>
    $(document).ready(function(){

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('geopattern-id'));
        });

    });
</script>