<div class="business-card">
    <!-- 公众号 -->
    <div class="card-tencent">
        <div class="col-md-5">
            <img src="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h1>关注公众号</h1>
            <span> →「 技术干货 」推送</span>
        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <span>除公众号外，我还会在以下平台中发布内容</span>
            <hr>
        </div>
        <div class="col-md-12">
            <table style="width: 100%;text-align: center;">
                <tbody>
                    <tr>
                        <td>
                            <a target="_blank" class="card-tencent-icon" aria-hidden="true" title="GitHub">
                                <i class="fa fa-github"></i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" class="card-tencent-icon" aria-hidden="true" title="Gitee">
                                <i class="fa fa-google"></i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" class="card-tencent-icon" aria-hidden="true" title="CSDN">                            
                                <i style="font-weight: 700;" class="fa">C</i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" class="card-tencent-icon" aria-hidden="true" title="新浪微博">
                                <i class="fa fa-weibo"></i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" class="card-tencent-icon" aria-hidden="true" title="简书">                            
                                <i style="font-size: 20px !important;" class="fa">简</i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" class="card-tencent-icon" aria-hidden="true" title="掘金">                            
                                <i style="font-size: 20px !important;" class="fa">掘</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>